<div class="container mt-2">
  <ng-container *ngIf="produits | async as listProduits ; else failureOrLoading">
    <div class="card" *ngIf="produits">
      <div class="card-header">
        <div class="card-body">


          <table class="table">
            <thead>
            <tr>
              <th>ID</th><th>Nom Produit</th><th>Prix</th><th>Disponible</th><th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let c of produits | async">
              <td>{{c.id}}</td>
              <td>{{c.nomProduit}}</td>
              <td>{{c.prix}}</td>
              <td *ngIf="c.disponible==true">oui</td>
              <td *ngIf="c.disponible==false">non</td>
              <td>
                <button (click)="handleDeleteProduit(c)" class="btn btn-danger" >
                  supprimer
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #failureOrLoading >
    <ng-container *ngIf="errorMessage ; else loading">
      <div class="text-danger">
        {{errorMessage}}
      </div>
    </ng-container>
    <ng-template #loading>
      Loading ....
    </ng-template>
  </ng-template>

</div>

